
table {
    width: 80%;
    border-collapse: collapse;
    background-color: bisque;
    text-align: center;
}
tbody{
    background-color: #e6e5e5;
}
table, th, td {
    border: 1px solid black;
    ;
}
th, td {
    padding: 8px;
    text-align: left;
}